@charset "UTF-8";


/* ================== FONTES =================== */

@font-face {
    font-family: poppins-regular;
    src: url(fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: jost-regular;
    src: url(fonts/Jost/static/Jost-Regular.ttf);
}


/* ================== MEDIA QUERIES =================== */



@media only screen and (max-width: 920px) {
    body {
        height: 100vh;
    }


    main {
        flex-direction: column;
        
        align-items: center;
        justify-content: center;
        
        width: 500px;
    }


    .contain-backg {
        display: none !important;
    }
}


@media only screen and (max-width: 600px) {
    body {
        height: 100vh;
    }

    main {
        width: 400px;
    }


}

@media only screen and (max-width: 430px) {
    body {
        height: 100vh;
    }



    main {
        width: 300px;
        padding: 5px;
        
    }

    .contain-login {
        width: 100%;
        margin-bottom: 10px;
        
    }

    h1 {
        text-align: center !important;
    }

    .sign-up {
        display: flex;
        align-items: center;
        
    }

    .sign-up button {
        margin-left: 15px;

    }

    .sign-up label {
        margin-left: 5px;
    }

    .login-btt {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }



    .contain-login input{
        width: 100%;
    }


    .remember {
        justify-content: center;
    }

    .remember input {
        width: 20px;

    }

    .remember label {
        text-align: center;
        width: 180px;
        font-size: 13px;

    }

    .forgot {
        text-align: center;
    }


}

@media only screen and (max-width: 350px) {

    body {
        height: 100vh;
    }


    .sign-up button {
        
        margin-right: 20px;
    }

    .sign-up label {
        text-align: center;
    }

    .forgot {
        text-align: center;
    }
}


@media only screen and (max-height: 535px) {
    html, body {
        height: 150vh;
    }

    main {
        margin-top: 25%;
    }

}


/* ================== BODY E MAIN =================== */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(45deg, #7a7ee9 20%,#6165da, #3E41AD);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;

    flex-direction: column;


    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

main {
    background-color: white;
    max-width: 900px;
    

    box-shadow: 1px 2px 8px #474a9e;

    border-radius: 8px;

    

    position: relative;

    display: flex;
}



/* ================== ASIDE IMAGEM =================== */



.contain-backg {

    background-color: #7a7ee950;
    width: 58%;
    height: 490px;
    

    display: flex;
    align-items: center;
    justify-content: center;


    
    float: left;
    
}

.contain-backg img {
    width: 400px;

}



/* ================== ASIDE LOGIN =================== */


.contain-login {
    padding: 10px;
    margin: 50px;


    float: right;
    

}

/* ================== SIGN UP =================== */

.sign-up {
    position: absolute;
    top: 0;
    
    padding-top: 25px;
    
}

.sign-up label {
    font-family: jost-regular;
    color: gray;
    margin-right: 5px;
}

.sign-up button {
    cursor: pointer;

    font-family: poppins-regular;
    padding: 7px;
    width: 80px;

    outline: none;
    border: 1px solid #7a7ee9;
    border-radius: 15px;

    background-color: transparent;

    transition: .2s ease-in-out;
}

.sign-up button:hover {
    background-color: #7a7ee9;
    color: white;
}


/* ================== TEXTO LOGIN =================== */



h1 {
    text-align: left;
    font-family: poppins-regular;

    padding: 50px 0 20px 0;
}



/* ================== FORMULÁRIO =================== */



fieldset {
    border: none;

    font-family: jost-regular;
}


fieldset input {
    display: block;

    width: 250px;

    outline: none;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.452);

    padding: 10px;

    transition: .2s ease-in-out;
}

fieldset input:focus {
    border-color: #6165da;
}


.senha {
    margin-top: 15px;
}


.forgot {
    padding: 10px 0;
}

.forgot a {
    text-decoration: none;
    color: gray;
}

.forgot a:hover {
    text-decoration: underline;
}

.login-btt input {
    cursor: pointer;
    box-sizing: border-box;

    font-family: poppins-regular;
    padding: 7px;

    outline: none;
    border: 1px solid #7a7ee9;
    border-radius: 15px;

    background-color: #7a7ee9;

    color: white;
    width: 100px;
}


/* ================== MANTENHA-ME CONECTADO =================== */


.remember {
    display: flex;
    align-items: center;

    font-family: poppins-regular;
    font-size: 14px;

    padding: 15px 0;


}

.remember input {
    padding: 0;
}

.remember label {
    padding-left: 5px;
    color: gray;
}


/* ================== FOOTER =================== */

footer {
    
    font-family: jost-regular;
    color: black;
    font-size: 15px;
}

footer span {
    color: white;
}